* {
  box-sizing: border-box;
}
body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
#background {
  width: 100%;
  max-width: 1900px;
  position: absolute;
  z-index: -1;
}
.container {
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
#header {
  height: 70px;
  display: flex;
  padding: 12px 5px 8px;
  /* justify-content: space-between; */
}
.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
